/_site/
/_temp/
/.bundle/
/.jekyll-cache/
/.sass-cache/
/.vendor/
/.vscode/
/node_modules/
/assets/css/*.map
/assets/css/style.css
/assets/css/style.min.css
/assets/js/*.map
/assets/js/scripts.min.js
.jekyll-metadata
Gemfile.lock
package-lock.json
*.code-workspace
*.diff
*.log

# MKDocs files
__pycache__/
_site_mkdocs/
.data/
.docs/
.include/
.layout/
assets/css/doxygen-mk.css
assets/js/base.js
main.py
mkdocs.yml
TODO.md
