/_site/
/.sass-cache/
/.jekyll-cache/
/.bundle/
/.vendor/
/node_modules/
/assets/css/*.map
/assets/css/style.css
/assets/js/*.map
.jekyll-metadata
Gemfile.lock
package-lock.json
yarn.lock
*.code-workspace
*.diff
*.log
!/development/build/*

# Unstaged files in other branches
/.DS_Store/
/external/
/vst/
/build*
/Doxyfile
*.txt.user*
