{%-extends "base.j2" %}

{%-block main %}
{%-block title %}
	{%-if page.meta.title %}
	<title>{{ page.meta.title }} - {{ config.site_name }}</title>
	{%-elif page.meta.filename %}
	<title>{{ page.meta.filename }} - {{ config.site_name }}</title>
	{%-else %}
	<title>{{ config.site_name }}</title>
	{%-endif %}
{% endblock %}

{%-block cards %}
{%-endblock %}

{%-block content %}
{%-set path            = "data/" ~ page.meta.project ~ "/api/" ~ page.meta.filename ~ ".json" %}
{%-set api             = load_json(abs_path(path)) %}
{%-set repo_url        = config.extra.repo_owner_url ~ '/' ~ page.meta.project %}
{%-set file_url        = repo_url ~ "/blob/" ~ config.extra.repo_branch ~ '/' ~ api.location %}
{%-set functions_title = "Functions" %}
{%-set typedefs_title  = "Enumerations" %}

{%-if api.kind == "page" %}
  {%-set title = api.title %}
{%-else %}
  {%-if api.kind == "file" %}
    {%-set title_suffix = "File" %}
  {%-elif api.kind == "namespace" %}
    {%-set title_suffix = "Namespace" %}
  {%-elif api.kind == "class" %}
    {%-set title_suffix = "Class" %}
    {%-set functions_title = "Public Member Functions" %}
    {%-set typedefs_title  = "Public Types" %}
  {%-endif %}
{%-endif %}

{{-page.content }}

<h1><a href="{{ file_url }}">{{ api.name }}</a> {{ title_suffix }} Reference</h1>
{%-if api.language == "C++" and api.kind == "class" %}
<p><code>#include &lt;{{ api.include }}&gt;</code></p><hr/>
{%-endif %}
{%-if api.brief %}
{{ api.brief }}
{%-endif %}
{%-if page.content %}
{{ page.content }}
{%-endif %}
{%-for def in api.definitions if "private" not in def.kind %}
  {%-if def.kind == "enum" or def.kind == "public-type" %}
<h2 class="groupheader">{{ typedefs_title }}</h2>
    {%-for member in def.members %}
<h3 class="memtitle">{{ member.name }}</h3>
  <div class="memitem">
    <div class="memdoc">
      <span class="type">enum</span>&nbsp;{{ member.name }}&nbsp;&#123;<br/>
      {%-for value in member["values"] %}
        <b class="tab">{{ value.name }}</b>
        {{ value.initializer }}<br/>
      {%-endfor %}
&#125;
      <p>{{ member.brief }}</p>
      {%-if member.since %}
        <dl class="section since">
          <dt>Since</dt>
          <dd>{{ member.since }}</dd>
        </dl>
      {%-endif %}
    </div>
  </div>
    {%-endfor %}
  <hr/>
  {%-elif def.kind == "func" or def.kind == "public-func" %}
<h2 class="groupheader" id="functions">{{ functions_title }}</h2>
    {%-for function in def.members %}
      {%-set function_brief = function.brief if function_brief != none %}
      {#
        Skip functions without description
        TODO: Make this configurable by Doxyfile
      #}
      {%-set function_description = function.description %}
<h3 class="memtitle" id="{{ function.name }}">{{ function.name }}</h3>
  <div class="memitem">
    <div class="memproto">
      <table class="memname"><tbody>
        <tr>
          <td class="memname">
            {%-if function.type %}<span class="type">{{ function.type }}</span>{%-endif %}
            <span class="func">{{ function.name }}</span>
          </td>
          <td>&#40;</td>
      {%-for param in function.params %}
        {%-if api.language != "Python" %}
          <td class="paramtype">{{ param.type }}</td>
        {%-endif %}
          <td class="paramname"><em>{{ param.name }}</em></td>
        {%-if not loop.last %}
          <td>,</td>
        {%-endif %}
      {%-endfor %}
          <td>&#41;</td>
          <td></td>
        </tr>
      </tbody></table>
    </div>
    <div class="memdoc">
      {%-if function_brief %}<p>{{ function_brief }}</p>{%-endif %}
      {%-if function_description %}{{ function_description }}{%-endif %}
      {%-if function.params %}
      <dl class="params">
        <dt>Parameters</dt>
        <dd>
          <table class="params"><tbody>
        {%-for param in function.params %}
            <tr><td class="paramname">{{ param.name }}</td>
            {%-if param.description %}<td>{{ param.description }}</td>{%-endif %}</tr>
        {%-endfor %}
          </tbody></table>
        </dd>
      </dl>
      {%-endif %}
      {%-if function.return %}
      <dl class="section return">
        <dt>Returns</dt>
        <dd>{{ function.return }}</dd>
      </dl>
      {%-endif %}
      {%-if function.since %}
      <dl class="section since">
        <dt>Since</dt>
        <dd>{{ function.since }}</dd>
      </dl>
      {%-endif %}
      {%-if function.note %}
      <dl class="section note">
        <dt>Note</dt>
        <dd>{{ function.note }}</dd>
      </dl>
      {%-endif %}
    </div>
  </div>
      {%-set function_brief       = none %}
      {%-set function_description = none %}
    {%-endfor %}
  {%-else %}
    {%-if   def.kind == "define" %} {%-set group_title = "Macros" %}
    {%-elif def.kind == "typedef" %}{%-set group_title = "Typedefs" %}
    {%-endif %}

    {%-if group_title %}<h2 class="groupheader">{{ group_title }}</h2>{%-endif %}
    {%-for member in def.members %}
      {%-if def.kind == "define" %}
        {%-set memname = "<span class='type'>#define</span> <b>"
          + member.name + " " + member.initializer + "</b>" %}
      {%-elif def.kind == "typedef" %}
        {%-set memname = "<span class='type'>typedef " + member.type
          + "</span> <b>" + member.name + "</b>" %}
      {%-endif %}
<h3 class="memtitle">{{ member.name }}</h3>
<div class="memitem">
  <div class="memproto">
    <table class="memname">
      <tr>
        <td class="memname">
          {%-if memname %}{{ memname }}{%-endif %}
        </td>
      </tr>
    </table>
  </div>
  <div class="memdoc">
    <p>{{ member.brief }}</p>
      {%-if member.since %}
    <dl class="section since">
      <dt>Since</dt>
      <dd>{{ member.since }}</dd>
    </dl>
      {%-endif %}
  </div>
</div>
    {%-endfor %}
  {%-endif %}
{%-endfor %}
{%-endblock %} {#-block content #}
{%-endblock %} {#-block main #}
