{# Keep track of the last specified opcode version in the hierarchy
	 to be inherited when not specified by a child. #}
{%- set opcode_version = "" %}

{%- macro add_opcode_to_stat(category, parent, opcode, total, done, wip) %}
	{%- if opcode.version %} {%- set opcode_version = opcode.version %}
	{%- elif parent and
		parent.version %}      {%- set opcode_version = parent.version %}
	{%- endif %}

	{%- set sfizz_opcode = sfizz_support_macros.opcodes
		| selectattr("name", "equalto", opcode.name) | list | first or ''
	%}

	{%- if not sfizz_opcode or
		sfizz_opcode.support == 'x' %}          {%- set opcode_support = 'x' %}
	{%- elif sfizz_opcode.support == "wip" %} {%- set opcode_support = "wip" %}
	{%- else %}                               {%- set opcode_support = 'v' %}
	{%- endif %}

	{%- if     opcode_version == "ARIA" %}   {%- set total.aria = total.aria + 1 %}
		{%- if   opcode_support == 'v' %}      {%- set done.aria  = done.aria + 1 %}
		{%- elif opcode_support == "wip" %}    {%- set wip.aria   = wip.aria + 1 %}
		{%- endif %}
	{%- elif   opcode_version == "SFZ v1" %} {%- set total.sfz1 = total.sfz1 + 1 %}
		{%- if   opcode_support == 'v' %}      {%- set done.sfz1  = done.sfz1 + 1 %}
		{%- elif opcode_support == "wip" %}    {%- set wip.sfz1   = wip.sfz1 + 1 %}
		{%- endif %}
	{%- elif   opcode_version == "SFZ v2" %} {%- set total.sfz2 = total.sfz2 + 1 %}
		{%- if   opcode_support == 'v' %}      {%- set done.sfz2  = done.sfz2 + 1 %}
		{%- elif opcode_support == "wip" %}    {%- set wip.sfz2   = wip.sfz2 + 1 %}
		{%- endif %}
	{%- else %}                              {%- set total.cake = total.cake + 1 %}
		{%- if   opcode_support == 'v'   %}    {%- set done.cake  = done.cake + 1 %}
		{%- elif opcode_support == "wip" %}    {%- set wip.cake   = wip.cake + 1 %}
		{%- endif %}
	{%- endif %}

	{# Rescan recursively #}
	{%- for alias in opcode.alias %}
		{{ add_opcode_to_stat(category, opcode, alias, total, done, wip) }}
	{%- endfor %}

	{%- if opcode.modulation and opcode.modulation.midi_cc %}
		{%- for midi_cc in opcode.modulation.midi_cc %}
			{{ add_opcode_to_stat(category, opcode, midi_cc, total, done, wip) }}
		{%- endfor %}
	{%- endif %}

	{%- if opcode.modulation and opcode.modulation.velocity %}
		{%- for velocity_cc in opcode.modulation.velocity %}
			{{ add_opcode_to_stat(category, opcode, velocity_cc, total, done, wip) }}
		{%- endfor %}
	{%- endif %}
{%- endmacro %} {# add_opcode_to_stat #}

{%- macro calc(done, wip) %}

	{%- set status_total = namespace() %}
	{%- set status_total.aria = 0 %}
	{%- set status_total.cake = 0 %}
	{%- set status_total.sfz1 = 0 %}
	{%- set status_total.sfz2 = 0 %}

	{%- for category in sfz_syntax_macros.categories %}
		{%- for toplevel_opcode in category.opcodes %}
			{{ add_opcode_to_stat(category, none, toplevel_opcode, status_total, done, wip) }}
		{%- endfor %}
		{%- for category_type in category.types %}
			{%- for toplevel_opcode in category_type.opcodes %}
				{{ add_opcode_to_stat(category_type, none, toplevel_opcode, status_total, done, wip) }}
			{%- endfor %}
		{%- endfor %}
	{%- endfor %}
{#
	{%- set sfz1Miss = status_total.sfz1 - done.sfz1 - wip.sfz1 %}
	{%- set sfz2Miss = status_total.sfz2 - done.sfz2 - wip.sfz2 %}
	{%- set cakeMiss = status_total.cake - done.cake - wip.cake %}
	{%- set ariaMiss = status_total.aria - done.aria - wip.aria %}
SFZ v1:   {{ done.sfz1 }} + {{ wip.sfz1 }} of {{ status_total.sfz1 }} ({{ sfz1Miss }} missing)<br>
SFZ v2:   {{ done.sfz2 }} + {{ wip.sfz2 }} of {{ status_total.sfz2 }} ({{ sfz2Miss }} missing)<br>
ARIA:     {{ done.aria }} + {{ wip.aria }} of {{ status_total.aria }} ({{ ariaMiss }} missing)
#}
	{%- if status_total.aria %}
		{%- set done.aria = done.aria * 100 // status_total.aria %}
		{%- set wip.aria  = wip.aria  * 100 // status_total.aria %}
	{%- endif %}

	{%- if status_total.cake %}
		{%- set done.cake = done.cake * 100 // status_total.cake %}
		{%- set wip.cake  = wip.cake  * 100 // status_total.cake %}
	{%- endif %}

	{%- if status_total.sfz1 %}
		{%- set done.sfz1 = done.sfz1 * 100 // status_total.sfz1 %}
		{%- set wip.sfz1  = wip.sfz1  * 100 // status_total.sfz1 %}
	{%- endif %}

	{%- if status_total.sfz2 %}
		{%- set done.sfz2 = done.sfz2 * 100 // status_total.sfz2 %}
		{%- set wip.sfz2  = wip.sfz2  * 100 // status_total.sfz2 %}
	{%- endif %}

{%- endmacro %}
