{%-extends "base.j2" %}

{%-set sfz_syntax_layout    = load_yaml(config.extra["data"].sfz) %}
{%-set sfizz_support_layout = load_yaml(config.extra["data"].sfizz.support) %}
{%-set emojis_path          = "assets/img/emoji"|url %}

{# Keep track of the last specified opcode version in the hierarchy
	 to be inherited when not specified by a child. #}
{%-set opcode_version = "" %}

{%-macro add_opcode_to_table(category, opcode, parent_opcode = none, is_alias = false) %}
	{%-if opcode
		and not opcode.deprecated
		and opcode.name != "*_mod"
		and opcode.name != "hint_*" %}
		<tr>
			{# Category #}
			<td class="{{ category.id }}"><span style="display:none">{{ category.name }}</span></td>
			{# Opcode #}
			<td>{{- get_opcode_url_as_html(opcode) }}</td>
			{# Version #}
			{%-if   opcode.version %}        {%-set opcode_version = opcode.version %}
			{%-elif parent_opcode.version %} {%-set opcode_version = parent_opcode.version %}
			{%-endif %}
			<td style="text-align:center">{{ opcode_version }}</td>
			{# Supported #}
			{%-set sfizz_opcode = sfizz_support_layout.opcodes
				| selectattr("name", "equalto", opcode.name) | list | first or ''
			%}
			<td style="text-align:center">
				{{-get_emoji(emoji_name_from_opcode(sfizz_opcode), emojis_path) }}
			</td>
			{# Comment #}
			{%-if is_alias %}
				{%-set opcode_comment = get_opcode_url_as_html(parent_opcode) + " alias." %}
			{%-else %}
				{%-set opcode_comment = sfizz_opcode.comment %}
			{%-endif %}
			<td>{{ opcode_comment or '' }}</td>
		</tr>

		{# Rescan recursively #}
		{%-for alias in opcode.alias %}
			{{ add_opcode_to_table(category, alias, opcode, true) }}
		{%-endfor %}

		{%-if opcode.modulation and opcode.modulation.midi_cc %}
			{%-for midi_cc in opcode.modulation.midi_cc %}
				{{ add_opcode_to_table(category, midi_cc, opcode) }}
			{%-endfor %}
		{%-endif %}

		{%-if opcode.modulation and opcode.modulation.velocity %}
			{%-for velocity_cc in opcode.modulation.velocity %}
				{{ add_opcode_to_table(category, velocity_cc, opcode) }}
			{%-endfor %}
		{%-endif %}

	{%-endif %}
{%-endmacro %} {# add_opcode_to_table #}

{%-block content %}
{%-include "sfizz/opcodes_categories_style.j2" %}
{{ page.content }}
<table
	class="table table-bordered table-hover table-responsive-xl table-sm table-striped"
	id="table-opcodes"
	data-sort-name="opcode"
	data-toggle="table">
	<thead class="table-dark">
		<tr>
			<th data-field="category"></th>
			<th data-field="opcode"    data-sortable="true">Opcode</th>
			<th data-field="version"   data-sortable="true">Version</th>
			<th data-field="supported" data-sortable="true">Supported</th>
			<th data-field="comment"   data-sortable="true">Comment</th>
		</tr>
	</thead>
	<tbody>

	{%-for category in sfz_syntax_layout.categories %}
		{%-for toplevel_opcode in category.opcodes %}
			{{- add_opcode_to_table(category, toplevel_opcode) }}
		{%-endfor %}
		{%-for category_type in category.types %}
			{%-for toplevel_opcode in category_type.opcodes %}
				{{- add_opcode_to_table(category_type, toplevel_opcode) }}
			{%-endfor %}
		{%-endfor %}
	{%-endfor %}

	{%-for category in sfizz_support_layout.categories %}
		{%-for opcode in category.opcodes %}
			<tr>
				<td class="{{ category.id }}"><span style="display:none">{{ category.name }}</span></td>
				<td>{{ opcode.name }}</td>
				<td style="text-align:center">sfizz</td>
				<td style="text-align:center">
					{{-get_emoji(emoji_name_from_opcode(opcode), emojis_path) }}
				</td>
				<td>{{ opcode.comment or '' }}</td>
			</tr>
		{%-endfor %}
	{%-endfor %}
	</tbody>
</table>
{%-endblock %} {# content #}
