$blue:                    #337ab7;
$navbar-dark-color:       rgba(#fff, .75);
$navbar-dark-hover-color: #fff;
$scrollbutton-bg:         rgba(255, 255, 255, 0.5);
$scrollbutton-bg-hover:   rgba(255, 255, 255, 0.8);
$scrollbutton-color:      rgba(0, 0, 0, 0.5);
